<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="MongoImportexeLocation" value="C:\Program Files\MongoDB\Server\3.0\bin\mongoimport.exe"/>
      <add key ="MongoDbName" value="Mixpanel"/>
      <add key ="MongoTableName" value="Events"/>
      <add key ="MixpanelAPISecret" value="4d9d15b5e0449fbd52538f70acee47e9"/>
      <add key ="MixpanelApiKey" value="101942df3a45351d8d4a5d25aa7e61d6"/>
      <add key="StartDate" value="2015-06-29 00:00:00z"/>
      <add key="EndDate" value=""/>
    </appSettings>
</configuration>